img#img-picture{
    border: solid 1px var(--color-1);
    background-color: var(--color-1);
    border-radius: 100%;
    margin: -30px;
    margin-top: -22px;
    margin-right: 0px;
    width: 130px;
    height: 130px;
    /*right: 80px;*/
    
}view#user-picture{

}view#user-info{

}
article#profile-info{
    display: flex;
    justify-content: space-between;
}
article#profile-info view{
    vertical-align: top;
    
}
.chart-render>*{
    width: 100%;
    display: inline-flex;
    max-width: 500px;
    margin: 0 auto;
    
}.chart-render>p{
    padding-top: 5px;
    margin-left: -1pt;
    
}.chart-render{
    position: relative;
    display: inline-flex;
    width: 100%;
    /*margin-left: calc(50% - 250px);
    margin-top: -10px;
    margin-bottom: -25px;*/
}
article>*{
    
    
}
.chart{
    
}

#appArea{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

}#blocksArea{
    width: calc(100% - 63px);
    height: auto;
}#homeArea{
    width: 100px;
    height: auto;
    position: fixed;
}
#center{

    text-align: center;
    margin-top: -20px;
}#display-info{
    padding-top: 25px;
}#hashtags{
    color: var(--color-1);
    text-decoration: underline;
}
@media screen and (max-width: 480px){
    #appArea{
        width: 100%;
        height: 100%;
    
    }#blocksArea{
        width: calc(100%);
        height: auto;
    }#homeArea{
        width: 0px;
        height: auto;
    }img#img-picture{
        margin-top: -10px;
        width: 100px;
        height: 100px;
    }/*article#profile-info{
        font-size: 1000px;
    }*/
    .chart-render>p{
        

        margin-bottom: 5px;
    }
    .chart-render>*{
        width: 100%;
        display: block;
        max-width: 500px;
        
    }.chart-render{
        display: block;
        width: 100%;
    }

    article>*{
        transform: scale(1);
    }#center{
        text-align: left;
        margin-top: 5px;
    }

}