@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("./fonts/montserrat/Montserrat-ExtraBold.ttf");
}@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/montserrat/Montserrat-Bold.ttf");
}@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/montserrat/Montserrat-Medium.ttf");
}@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/montserrat/Montserrat-Regular.ttf");
}@font-face {
    font-family: "Montserrat-Light";
    src: url("./fonts/montserrat/Montserrat-Light.ttf");
}
:root {
    /*GLOBAL COLORS*/
    --high: #1a1a22;
    --medium: #22222c;
    --medium-light: #282a36;
    --light: #3c3d51;
    --color-1: #eb4255;
    --color-2: #c75f70;
    --contrast-1: whitesmoke;
    --contrast-2: #999;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--high);
    color: black; 
}
strong{
    color: var(--contrast-1);
    font-family: "Montserrat-Bold";
    font-size: 25px;
    margin-top: 10px;
    
}
p{
    font-size: 15px;
    color: var(--contrast-2);
    margin-top: 5px;
    line-height: 24px;
    /*width: 340px;*/
    width: 50%;
    font-family: "Montserrat-Regular";
}
b{
    color: var(--contrast-1);
    font-family: "Montserrat-Medium";
    font-size: 20px;
    margin-top: 6px;
    display: block
}
input{
    background-color: var(--high);
    border: 1px solid var(--mediun-light);
    font-size: 20px;
    padding: 5px;
    color: var(--contrast-1);
    margin: 5px;
}textarea{
    background-color: var(--high);
    border: 1px solid var(--mediun-light);
    font-size: 15px;
    padding: 5px;
    color: var(--contrast-2);
    margin: 5px;
    font-family: "Montserrat-Regular";
}button{
    background-color: var(--color-1);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--contrast-1);
    transition: all .2s;
    margin: 3px;
}button:hover{
    opacity: .8;
    cursor: pointer;
}
.bt-mini{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

@media screen and (max-width: 480px){
    strong{
        font-size: 20px;
    }
    b{
        font-size: 18px;
    }
    p{
        width: 80%;
        font-size: 13px;
        line-height: 20px;
        /*margin-left: -4px;*/
    }
}